<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= render partial: 'users/user', object: event.creator %>
  </p>

  <p>
    <strong>Limit:</strong>
    <% if event.limit.nil? %>
      No Limit
    <% else %>
      <%= event.limit %> (available: <%= event.available_seats %>)
    <% end %>
  </p>

  <% if policy(%i[events register]).create? %>
    <% if current_user.participations.find_by(event: event).blank? %>
      <p>
        <%= button_to 'Register', event_register_path(event_id: event.id, method: :post) %>
      </p>
    <% else %>
      <p class="notice">
        Registered!
      </p>
    <% end %>
  <% end %>
</div>
